@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";
@import "./btn.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}
.full {
  height: 100%;
}
//卡片
.card {
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px; /*滚动条宽度*/
  height: 6px; /*滚动条高度*/
  background-color: white;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.15); /*滚动条的背景颜色*/
  // background-color: #c6e4ff;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

//main-container全局样式-------------------------------------------------
.app-container {
  // padding: 15px;
  height: 100%;

  //app-container 内直接有的滚动条
  .el-scrollbar {
    height: 100%;
    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
  }

  //内容页有树 的情况
  .app-container-left {
    width: 180px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    display: inline-block;
    margin-right: 15px;
    padding: 10px;
    box-sizing: border-box;
  }
  .app-container-right {
    width: calc(100% - 195px);
    height: 100%;
    display: inline-block;
    float: right;
  }
}

.components-container {
  // padding: 15px 15px;
  height: 100%;
  position: relative;
  //element 的滚动条插件 需要有高度设置 并禁用调子级的横向滚动条
  .el-scrollbar {
    height: 100%;
    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
  }
}

.pagination-container {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//主体 内容页 布局
//分页
//搜索
.filter-container {
  width: 100%;
  height: 60px;
  background: #fff;
  border-radius: 3px;
  padding: 10px 10px;
  margin-bottom: 15px;
  position: relative;

  .form-more {
    display: block;
    width: 15px;
    height: 11px;
    background: $colorPrimary;
    border-bottom: 3px solid $colorPrimary;
    position: absolute;
    right: 2px;
    bottom: -11px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    line-height: 8px;

    i {
      color: #fff;
      font-size: 10px;
    }
  }

  //筛选框展开的时候下面的一排按钮
  .filter-button {
    width: 100%;
    height: 36px;
    text-align: center;
    // background: #ddd;
  }

  // .filter-item {
  //   display: inline-block;
  //   vertical-align: middle;
  //   margin-bottom: 10px;
  // }
}
//表格
.table {
  width: 100%;
  height: calc(100% - 131px);
  // overflow: hidden;
  background: #fff;
  border-radius: 3px;
  border-bottom: 5px solid #fff;
  border-top: 5px solid #fff;
  position: relative;
  .table-container {
    padding: 0 5px 0 5px;
    height: 100%;
  }
}
//有的页面是不需要筛选条件的
.table-full {
  height: calc(100% - 66px);
}
